#about {
	margin-top: 10%;
}

#team {
	margin-top: 3rem;
	width: 100%;
	min-height: 85vh;
	background: #02284cd4;
	padding: 5%;
	gap: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#team h3 {
	width: 80%;
	font-size: 2em;
	font-weight: bold;
	color: #b4c2d3;
	text-align: center;
	padding: 1rem;
	margin-bottom: 3rem;
	border-bottom: 1px solid #f0ffff;
	font-family: "Oswald", sans-serif;
}

#team .about-team {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 4rem;
	max-width: 70rem;
}

.info-team {
	width: 10rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.info-team a {
	color: #b4c2d3;
	font-size: 1rem;
	font-weight: bold;
}

.info-team a:hover {
	color: #fff;
	text-decoration: underline;
}

.info-team .photo {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	background: transparent;
	border: #000000 0.1rem solid;
	box-shadow: #2c2c2c 1px 1px 10px;
}

.info-team .photo img {
	width: 100%;
	border-radius: 50%;
	background: #9dadbe;
	object-fit: cover;
}

/*Responsividade*/
@media (max-width: 768px) {
	.link-bar {
		flex-direction: column;
		align-items: center;
	}

	#team {
		border-radius: 24px;
	}

	#team .about-team {
		gap: 2rem;
	}

	.info-team {
		width: calc(50% - 20px); /* Duas colunas por linha */
	}
}
  
@media (max-width: 480px) {
	.info-team {
	  width: 100%; /* Uma coluna por linha */
	}
  
	.logo img {
	  width: 30px;
	  height: 30px;
	}
  
	.link-bar {
	  gap: 10px;
	}
}